<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,user-scalable=0,viewport-fit=cover"
    />
    <meta name="renderer" content="webkit" />
    <meta name="keywords" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <!-- <link rel="dns-prefetch" href="//www.coohua.com" /> -->
    <link rel="icon" href="data:;base64,=" />
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
    <script>
      function Rem() {
        var docEl = document.documentElement,
          oSize = docEl.clientWidth / 7.5;
        docEl.style.fontSize = oSize + 'px';
      }
      window.addEventListener('resize', Rem, false);
      Rem();
    </script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
